fastapi==0.115.13
gpytorch==1.14
matplotlib==3.4.3
numpy==1.23.5
pandas==2.3.0
protobuf==3.20.3
rclpy==3.3.14
rosbag2_py==0.15.13
scikit_learn==1.4.0
scipy==1.16.0
torch==2.2.2+cpu
tqdm==4.67.1
uvicorn==0.34.3
